$lk-blue-light: #DDF2FD;
$lk-blue: #0987FC;
$lk-white: #FFFFFF;
$lk-gr-background: #F5F7FA;
$lk-gb-40: #D5D9DC;
$lk-gb-50: #B6BFC7;
$lk-gr: #6A7C8D;
$lk-dark: #333333;
$lk-black: #000000;
$lk-green: #559E15;
$lk-red: #CD4141;
$lk-yellow: #F6BB2C;
